.main {
  display: flex;
  gap: 50px;
}

.main .menu {
  width: 272px;
}

.main .content {
  width: 100%;
}

.menu ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.menu li {
  width: 100%;
  display: flex;
  padding: 8px 10px;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  transition: .1s all;
}

.label, .icon {
  display: flex;
  align-items: center;
}

.label {
  color: #e2e2e2;
}

.icon {
  width: 25px;
  color: #adadad55;
}

.menu li.active {
  background-color: #25262a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #1b1c20;
}

.menu li.active .label {
  color: var(--color-primary) !important;
}

.menu li.active .icon {
  color: #adadad88;
}

.title {
  font-size: 26px;
  font-weight: 400;
}

.content-separator {
  height: 1px;
  border-bottom: 1px solid #1d1e2224;
  margin: 15px 0;
}

.content > div {
  width: 100%;
  display: none;
  flex-direction: column;
  padding-bottom: 60px;
}

.content .settings {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content > div.active {
  display: flex;
}