:root {
  --bg-color-primary: #1d1e22;
  --bg-color-secondary: #0a0b0c;
  --bg-color-tertiary: #111214;
  --color-primary: rgb(251, 251, 251);
  --font-size: 16px;
}

body {
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}