.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 600px;
  height: 100vh;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  justify-content: center;
}

.page h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
}