.page {
  align-items: center;
}

.page, .content {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1280px;
  gap: 50px;
  margin-top: 50px;
}

.profile {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 15px;
}

.profile img {
  height: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile > div {
  display: flex;
  flex-direction: column;
}

.profile .name {
  color: #d4d4d4;
  font-size: 20px;
  font-weight: 600;
}

.profile .muted {
  font-size: 14px;
  color: #b6b6b6;
}